* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(183, 191, 232);
  display: flex;
  padding: 20px;
}

ul {
  display: flex;
  gap: 0 20px;
  list-style: none;
}
nav ul a {
  color: blueviolet;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
}

nav a:hover {
  background-color: rgb(214, 210, 217);
  text-decoration: none;
  font-weight: 600;
}
.icon {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 80px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 65, 107);
  color: white;
  padding: 50px;
  img {
    max-height: 15rem;
  }
}
@media (min-width: 1050px) {
  header > * {
    padding: 50px;
    text-align: center;
  }

  main {
    margin: 50px;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: -calc();
  }

  img {
    max-width: 90%;
  }
}
@media (max-width: 1050px) {
  header > * {
    padding: 20px;
  }
  main {
    justify-content: space-around;
    gap: 20px;
    margin: 50px;
  }
  img {
    max-width: 90%;
  }
  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  header > * {
    padding: 10%;
    text-align: center;
  }
  main {
    padding: 0.3%;
    gap: 10px;
  }
  img {
    max-width: 90%;
  }
  .icon {
    font-size: 2rem;
  }
}
